---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const postsPerYear = (await getCollection("blog")).reduce((acc, post) => {
  const year = post.data.pubDate.getFullYear();
  if (!acc[year]) {
    acc[year] = [];
  }

  acc[year]!.push(post);
  return acc;
}, [] as CollectionEntry<"blog">[][]);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            postsPerYear.map((posts, year) => (
              <li>
                <a href={`/blog/years/${year}`}>{year}</a>
                <ul>
                  {posts.map((post) => (
                    <li>
                      <a href={`/blog/post/${post.slug}/`}>{post.data.title}</a>
                    </li>
                  ))}
                </ul>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
